.review-section {
    display: flex;
}

.profile-pic {
    background-color: #eeeeee;
    width: 112px;
    height: 112px;
    border: none;
    margin-top: 45px;
}

.reviews {
    margin-top: 45px;
}

.full-symbol-color {
    color: #ffc107;
}

.empty-symbol-color {
    color: #e4e5e9;
}