.add-a-review-title {
    font-size: 2.8rem;
    color: #333f47;
}

input[type="radio"] {
    display: none;
}

.star {
    cursor: pointer;
    transition: color 200ms;
}

@media screen and (max-width: 400px) {
    .add-a-review-title {
        font-size: 2.2rem;
    }
}