.font-family-set {
    font-family: 'Montserrat', sans-serif;
}

.navlink-custom {
    display: flex;
    justify-content: flex-end;
}

.navbar_icon_active_color {
    color: #ff136f;
}

.navbar_icon_active_color::after {
    content: "";
    display: block;
    width: 64px;
    height: 4px;
    border-radius: 10px;
    background-color: #ff136f;
    bottom: -6px;
    position: absolute;
}

@media screen and (max-width: 992px) {
    .navlink-custom {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}