.font-family-set {
    font-family: 'Montserrat', sans-serif;
}

.navlink-custom {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 992px) {
    .navlink-custom {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}