.banner-container {
    background-image: url(https://i.ibb.co/MDB476v/3355aa-1024x1024.jpg);
    background-size: cover;
    position: relative;
    width: 100%;
    min-height: 740px;
}

.banner-container:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.banner-container h1 {
    z-index: 1;
    color: #fff;
    text-align: center;
}

.banner-container h5 {
    z-index: 1;
    color: #fff;
    padding-top: 10px;
    text-align: center;
}