@media only screen and (max-width:800px) {
    #table-off tbody,
    #table-off tr,
    #table-off td {
        display: block;
    }
    #table-off thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    #table-off td {
        position: relative;
        padding-left: 50%;
        border: none;
        border-bottom: 1px solid #eee;
    }
    #table-off td:before {
        content: attr(data-title);
        position: absolute;
        left: 6px;
        font-weight: bold;
    }
    #table-off tr {
        border-bottom: 2px solid black;
    }
}