@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amita&display=swap');
#checkout-card-text {
    font-size: 1.2rem;
    margin: 3px;
    color: #000;
    font-family: system-ui;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

#cvc {
    min-width: 150px !important;
    width: 100% !important;
    border: none !important;
    outline: none !important;
    padding: 14px 0px 14px 10px !important;
}

#card-number {
    width: 100% !important;
    border: none !important;
    outline: none !important;
    padding: 14px 0px 14px 10px !important;
}

#card-expiry {
    min-width: 210px !important;
    width: 100% !important;
    border: none !important;
    outline: none !important;
    padding: 14px 0px 14px 10px !important;
}

@media screen and (max-width: 667px) {
    #cvc {
        min-width: 520px !important;
    }
}

@media screen and (max-width: 610px) {
    #cvc {
        min-width: 470px !important;
    }
    #card-expiry {
        min-width: 470px !important;
    }
}

@media screen and (max-width: 500px) {
    #cvc {
        min-width: 400px !important;
    }
    #card-expiry {
        min-width: 400px !important;
    }
}

@media screen and (max-width: 450px) {
    #cvc {
        min-width: 310px !important;
    }
    #card-expiry {
        min-width: 310px !important;
    }
}

@media screen and (max-width: 387px) {
    #cvc {
        min-width: 280px !important;
    }
    #card-expiry {
        min-width: 280px !important;
    }
}

@media screen and (max-width: 350px) {
    #cvc {
        min-width: 264px !important;
    }
    #card-expiry {
        min-width: 264px !important;
    }
}